{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% set title = data.piece.title or data.page.title %}
{% block title %}
  {{ title }}
  {% if not title %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block bodyClass %}
  {{ super() }}
  {% if data.user %}logged-in{% endif %}
{% endblock %}

{% block extraHead %}
  {#
    This block outputs its contents in the HTML document's <head>.
    It is a good place to put extra <script> <link> and <meta> tags.
  #}
{% endblock %}

{% block beforeMain %}
<div class="fg-wrapper">
  <header class="fg-header">
    <a href="/">
      <img class="fg-header__logo" src="/images/fake-goods.png" alt="Fake Goods logo">
    </a>
    <nav class="fg-nav">
      <a href="/shop">Shop</a>
    </nav>
    <div>
      <button class="snipcart-checkout fg-button">
        Check out (<span class="snipcart-total-price"></span>)
      </button>

    </div>
  </header>
  <main class="fg-main">
{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the @apostrophecms/pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
  </main>
  <footer class="fg-footer">
    <p>© Nobody, this is fake</p>
  </footer>
</div>{# Close .fg-wrapper #}
{% endblock %}

{% block extraBody %}
  <link rel="preconnect" href="https://app.snipcart.com">
  <link rel="preconnect" href="https://cdn.snipcart.com">
  <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.25/default/snipcart.css" />
  <script async src="https://cdn.snipcart.com/themes/v3.0.25/default/snipcart.js"></script>
  <div hidden id="snipcart" data-api-key="Y2RiZTY3M2YtNDc0OC00Y2FhLWI3YmUtZWYxYzk4YTA2NDg2NjM3NDE5MjMxOTQwNTQ3MjI1"></div>
{% endblock %}